{{#if addNewPost}}
  <form class="form-group text-center" >
    <label for="title">Title:</label>
    {{input value=title id="title"}}

    <label for="author">Author:</label>
    {{input value=author id="author"}}

    <label for="image">Image URL:</label>
    {{input value=image id="image"}}

    <label for="body">Body:</label>
    {{textarea value=body id="body"}}
  </form>
  <button class="btn" {{action 'saveNewPost'}}>Create Post</button>

{{else}}
  <button class="btn"{{action 'showForm'}}>New Post</button>
{{/if}}
