{{post.title}} by {{post.author}}
<p><img src={{post.image}}></p>
{{post.body}}
<br>
<button {{action 'delete' post}}>Delete Post</button>
{{update-post post=post saveUpdatePost="saveUpdatePost"}}
<br />

<h2>Comments</h2>
<ul>
{{#each post.comments as |comment|}}
  {{comment-tile comment=comment }}
{{/each}}
</ul>
