{{#if showPostForm}}
<h1>Update Form</h1>
<form class="form-control" >
  <label for="title">Title</label>
  {{input value=title id="title"}}

  <label for="author">Author</label>
  {{input value=author id="author"}}

  <label for="image">Image URL</label>
  {{input value=image id="image"}}

  <label for="body">Body</label>
  {{input value=body id="body"}}

  <button {{action 'saveUpdatePost' post}}>Save Updates</button>
</form>

{{else}}
<button {{action 'updatePostForm'}}>Update Post</button>
{{/if}}
